{% extends 'base.html.twig' %}

{% block title %}Page d'accueil
{% endblock %}

{% block body %}
	<h1>Bienvenue sur la page d'accueil</h1>

	<div>
		{% for quiz in quizList %}
			<div>
				<td>{{ quiz.name }}</td>
				<td>{{ quiz.description }}</td>
				<td>
					<a
						href="{{ path('app_evaluation', {'id': quiz.id}) }} " class="btn btn-primary">
						<i class="fas fa-play"></i>
						Evaluation
					</a>


				</td>
			</div>
		{% endfor %}


	</div>

{% endblock %}

