{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	<h1>Inscription</h1>
	{{ form_start(form) }}
	{{ form_widget(form) }}
	<button type="submit">S'inscrire</button>
	{{ form_end(form) }}
{% endblock %}

