/* Style du tableau */
.btn.btn-primary {
    border: 1px solid rgb(29 47 197);;
    margin-bottom: 40px;
    font-size: 1.7rem;
    width: 15%;
    height: 40px;
    background-color: rgb(139, 132, 190);
    margin-top: 40px;
}
/* Style du tableau */
table {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    border-collapse: collapse;
    border: 1px solid #ccc;
    overflow: auto;
}

/* Style de l'en-tête */
thead {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ede2e2;
    /* Couleur de fond de l'en-tête */
    /* width: 100%; */
}

thead th {
    flex: 1;
    padding: 8px;
    /* Espacement interne des cellules de l'en-tête */
    /* Alignement du texte à gauche dans l'en-tête */
    border-bottom: 2px solid #1d026f;
    /* Bordure en bas de l'en-tête */
    font-size: 1.5rem;
}

/* Style des lignes du tableau */
tbody tr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #16036c;
    width: 100%;
}

/* Style des lignes paires */
tbody tr.even {
    background-color: #d6c7c7;
}

/* Style des lignes impaires */
tbody tr.odd {
    background-color: rgb(158, 151, 210);
}

/* Style des cellules du tableau */
tbody td {
    flex: 1;
    padding: 8px;
    text-align: left;
    font-size: 1.5rem;
}
/* Ajouter une bordure à droite pour séparer les colonnes */
th,
td {
    border-right: 2px solid #373467;
}

/* Supprimer la bordure à droite de la dernière colonne */
th:last-child,
td:last-child {
    border-right: none;
}

/* Style des boutons d'action */
.btn {
    margin-left: 20px;
    /* Espacement entre les boutons */
}

/* Style des boutons d'action */
.btn {
    margin-left: 10px;
    /* Espacement entre les boutons */
}



/* Pour centrer les champs de formulaire individuels */
form input,
form select,
form textarea {
    display: block;
    margin: 10px auto;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #135886;
    border-radius: 5px;
    background-color: #f8f9fa;
}

/* Style générique pour tous les boutons dans les formulaires */
form button {
    background-color: #d6c7c7;
    color: #3229b8;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Style spécifique pour le bouton de type "submit" */
form button[type="submit"] {
    background-color: #ede2e2;
}

form button:hover {
    background-color: #1c084a;
    transform: translateY(-3px);
}

/* Style pour tous les formulaires */
.form-container {
    border: 2px solid #140357;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 50%;
    text-align: center;
    margin-top: 5px;
    border-radius: 10px;
    background-color: #98b6e3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

