/* Style du tableau */
.btn.btn-primary {
    border: 1px solid midnightblue;
    margin-bottom: 20px;
    font-size: 1.2rem;
    width: 13%;
    height: 20px;
    background-color: #d6c7c7;
    margin-top: 10px;
    margin-left: auto;
    cursor: pointer;
    margin-bottom: 5px;
    box-shadow: 0 0px 5px mediumblue;
    padding: 8px;
    transition: background-color 0.3s, transform 0.3s, color 0.3s;
    /* Ajout de la transition */
}

.btn.btn-primary:hover {
    color: #9e97d2;
    background-color: midnightblue;
    transform: translateY(-3px) rotate(3deg);
    /* Léger déplacement vertical et rotation de 3 degrés */
    color: #f8f9fa;
}
/* Style du tableau */

/* Style de la div contenant le tableau */
.table-container {
    width: 90%;
    /* margin-top: 20px; */
    margin: 9px auto;
    border: solid 1px midnightblue;
    box-shadow: 0 4px 18px mediumblue;
    cursor: pointer;
}

/* Style des lignes impaires */
.table tbody tr.odd {
    background-color: rgb(166, 158, 223);
}

/* Style des lignes paires */
.table tbody tr.even {
    background-color: #d6c7c7;
}
td{
    flex-wrap: wrap;
}


/* Style du tableau pour les écrans mobiles */
@media only screen and (max-width: 767px) {
    .btn {
        width: 100%;
        /* Les boutons occupent 100% de la largeur */
        margin-bottom: 10px;
        /* Espace entre les boutons */
    }
        .table {
            width: auto;
            margin: 9px auto;
        }

    .table td,
    .table th {
        font-size: 1rem;
        /* Taille de police réduite pour les cellules du tableau */
        width: 100%;
    
    }

    .table-container {
        margin: 10px;
        /* Marge réduite pour le conteneur du tableau */
    }

    /* a.btn.btn-primary{
        width: 40%;
    } */
}

/* Style du tableau pour les écrans de bureau */
@media only screen and (min-width: 768px) {
    .table {
        font-size: 1.5rem;
        /* Taille de police plus grande pour les écrans de bureau */
    }

    .btn {
        width: auto;
        /* Rétablir la largeur automatique des boutons */
    }

    .table-container {
        width: 90%;
        /* Largeur spécifique pour le conteneur du tableau sur les écrans de bureau */
        margin: 20px auto;
        /* Marge centrée */
    }
}





/* Pour centrer les champs de formulaire individuels */
form input,
form select,
form textarea {
    display: block;
    margin: 10px auto;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid midnightblue;
    border-radius: 5px;
    background-color: #f8f9fa;
    font-size: 1.0rem;
}

/* Style générique pour tous les boutons dans les formulaires */
form button {
    background-color: #d6c7c7;
    color: #3229b8;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 12px mediumblue;
}

/* Style spécifique pour le bouton de type "submit" */
form button[type="submit"] {
    background-color: #ede2e2;
}

form button:hover {
    background-color: midnightblue;
    transform: translateY(-3px);
    color: #f8f9fa;
}

/* Style pour tous les formulaires */
.form-container {
    border: 2px solid #140357;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 60%;
    text-align: center;
    margin-top: 5px;
    border-radius: 10px;
    background-color: #98b6e3;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
}

h1 {
    text-align: center;
}


