/* evaluation_results.css */
/* Style pour le titre h1 */
h1 {
    color: #333;
    /* Couleur du texte */
    font-size: 24px;
    /* Taille de la police */
}

/* Style pour les pourcentages */
p {
    font-size: 18px;
    /* Taille de la police */
}

/* Style pour les questions */
h2 {
    font-size: 20px;
    /* Taille de la police pour les questions */
    margin-top: 20px;
    /* Marge supérieure entre les questions */
}

/* Style pour les listes (questions, réponses) */
ul {
    list-style: none;
    /* Enlever les puces des listes */
    padding-left: 0;
    /* Enlever le retrait de la liste */
}

/* Style pour les réponses correctes */
li.questions-correctes {
    color: green;
    /* Couleur du texte pour les réponses correctes */
}

/* Style pour les réponses de l'utilisateur */
li.vos-reponses {
    color: red;
    /* Couleur du texte pour les réponses de l'utilisateur */
}

/* Style pour le lien de retour à la page d'accueil */
a {
    text-decoration: none;
    /* Enlever la soulignement des liens */
    color: #007bff;
    /* Couleur du texte du lien */
}
.correct {
    color: green;
    background: #00800054;
}

.incorrect {
    color: red;
    background: #ce2d2d54;
}

i {
    margin-right: 5px;
    /* Ajoute un peu d'espace à droite de l'icône */
    font-size: 18px;
    /* Ajuste la taille de l'icône */
}

li {
    border: 1px solid #ddd;
    /* Ajoute une bordure de 1 pixel avec une couleur grise à chaque réponse */
    padding: 10px;
    /* Ajoute un peu d'espacement intérieur pour un meilleur aspect */
    margin-bottom: 5px;
    /* Ajoute un peu d'espacement entre chaque réponse */
}

.footer {
    position: sticky;
}