

/* Nouveau style pour les questions et réponses sous forme de cartes */

/* Style pour le conteneur des cartes de questions */
.question-cards {
    display: flex;
    flex-direction: column;
}

/* Style pour chaque carte de question */
.question-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px 0;
    padding: 10px;
    background-color: #f0f0f0;
}

/* Style pour le titre de la question */
.question-card h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Style pour chaque réponse */
.response {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
}

/* Effet de survol pour chaque réponse */
.response:hover {
    background-color: #e6e6e6;
    cursor: pointer;
}

.footer {
    position: sticky;
}