body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to bottom, #ffffff, #f2f2f2);
    /* Dégradé de blanc à une nuance de gris très claire */
    width: 100vw;
    margin: 0;
    /* Supprimez la marge par défaut du corps */   
}

.content{
    overflow-y: auto;
    /* Permet le défilement vertical lorsque le contenu dépasse la hauteur de la fenêtre */
}

header{
    top: 0;
    position: sticky;
    /* z-index: 1000; */
}

/* Ajoutez ceci à votre fichier de style CSS */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa;
    border: 2px solid rgb(123, 96, 221);
    padding: 5px;
    text-align: center;
    z-index: 1000;
    margin-top: 5px;
}

.navbar {
    display: flex;
    background-color: #f8f9fa;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    color: black;
    border: 1px solid rgb(123, 96, 221);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 99%;
    z-index: 1000;
    height: 150px;
}

.logo img {
    width: 119px;
    margin-left: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.menu {
    display: flex;
    /* position: sticky; */
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    width: 100%;
}

.menu li  {
    margin: 0 15px;
    border: 2px solid rgb(130, 110, 212);
    padding: 5px;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-sizing: border-box;
    transition: opacity 0.3s;
    flex-grow: 1;
    flex-basis: 0;
}

.menu li:hover {
    background-color: #6222e2;
    opacity: 0.8;
}

.menu li:not(:last-child) {
    margin-right: 10px;
}

.menu li a {
    text-decoration: none;
    color: inherit;
    text-align: center;
}

button.burger {
    display: none;
}

.menu-mobile {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #3c409d;
    padding: 10px;
    border: 2px solid rgb(114, 119, 219);
    border-top: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 768px) {

    /* Styles spécifiques à la version mobile */
    .menu {
        display: none;
    }

    button.burger {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        cursor: pointer;
        margin-right: 8px;
        box-sizing: border-box;

    }

    .burger i {
        font-size: 40px;
    }

    .menu-mobile.active {
        display: flex;
    }

    .menu-mobile {
        display: none;
        flex-direction: column;
        align-items: center;
    }

    .menu-mobile li {
        margin: 10px 0;
    }
}

@media screen and (min-width: 768px) {

    /* Styles spécifiques à la version desktop */
    .menu-mobile {
        display: none;
    }

    .menu {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }
}