/* public/css/styles.css */

.alert {
    color: #c62a3a;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
}

form {
    
    text-align: center;
    margin: 0 auto;
}
.form-container {
    width: 50%;
    padding: O;
    margin: 100px auto;
}

label{
    font-size: 1.1rem;
}
button{
    width: 220px;;
}